:root {
    --primary-color: #2B2D42;
    --secondary-color: #8D99AE;
    --accent-color: #EF233C;
    --light-bg: #EDF2F4;
    --dark-text: #1D1E22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
